﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/uibootstrap")
    <script src="~/AngularScript/onboardingModule.js"></script>
    <script src="~/AngularScript/controller/orderController.js"></script>
    <script src="~/AngularScript/controller/customerController.js"></script>
    <script src="~/AngularScript/controller/modalCustomerController.js"></script>
    <script src="~/AngularScript/controller/modalOrderController.js"></script>
    <script src="~/AngularScript/services.js"></script>
    <script src="~/AngularScript/factory.js"></script>
    <script src="~/AngularScript/filter.js"></script>
    <script src="~/AngularScript/directive.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
</head>
<body ng-app="onboard-App">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Onboarding", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                   
                    <li>@Html.ActionLink("Customers", "Customer", "Onboard")</li>
                    <li>@Html.ActionLink("Orders", "Orders", "Onboard")</li>
                </ul>
               
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
