﻿
@{
    ViewBag.Title = "Customer";
}

@section scripts{

}
<h2 style="margin-left: 2%"><b><i>Customers</i></b></h2style>

<div ng-app="onboardapp" ng-controller="customerController"  ng-cloak>
   

    <div class="jumbotron" style="background-color: darkseagreen">
        <button type="button" class="btn btn-primary" style="margin-left:80.5%" ng-click="open($index, 'add')">Add Customer</button>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i>Name</i></th>
                    <th><i>Address 1</i></th>
                    <th><i>Address 2</i></th>
                    <th><i>City</i></th>
                    <th><i>Action</i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers">
                    <td>{{ customer.Name }}</td>
                    <td>{{ customer.Address1 }}</td>
                    <td>{{ customer.Address2 }}</td>
                    <td>{{ customer.City }}</td>
                    <td><button type="button" class="class="btn btn-primary" ng-click="open($index, 'edit')">Edit</button> <button type="button" class="btn btn-danger btn-sm" ng-click="open($index, 'deleteCustomer')">Delete</button></td>

                </tr>

            </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="margin-left:80.5%" ng-click="open($index, 'add')">Add Customer</button>
    </div>

    <div>
       
        
        <div class="modal fade" id="customer-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        
                    </div>
                    <div class="modal-body">
                        <strong>{{successMessage }}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



