﻿
@{
    ViewBag.Title = "Orders";
}

<h2 style="margin-left: 2%"><b><i>Orders</i></b></h2>

<div ng-app="onboardapp" ng-controller="orderController" ng-cloak>

    <div class="jumbotron" style="background-color: darkseagreen">
        <button type="button" class="btn btn-primary" style="margin-left:84%" ng-click="open($index, 'addOrderShow')">Add Order</button>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><i>Order ID</i></th>
                    <th><i>Date</i> </th>
                    <th><i>Customer Name</i></th>
                    <th><i>Product</i></th>
                    <th><i>Price</i></th>
                    <th><i>Action</i></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.OrderId}}</td>
                    <td>{{order.OrderDate| dateFilter | date:"dd-MM-yyyy"}}</td>
                    <td>{{order.CustomerName}}</td>
                    <td>{{order.ProductName}}</td>
                    <td>{{order.Price}}</td>
                    <td><button type="button" class="btn btn-primary" ng-click="open($index, 'editOrderShow')">Edit</button> <button type="button" class="btn btn-danger btn-sm" ng-click="open($index,'deleteOrder')">Delete</button></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" style="margin-left:84%" ng-click="open($index, 'addOrderShow')">Add Order</button>
    </div>
        <div class="modal fade" id="order-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>{{successMessage}}</strong>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

   
</div>
